.header {
    background-image: url("../../assets/header-bg.webp");
    background-size: cover;
    background-attachment: fixed;
    margin-top: -140px;
}

.titulo {
    margin-bottom: 15px;
}

.button{
    margin-top: 30px;
    padding: 15px 30px;
}