.nosotros {
    padding-top: 100px;
    margin-bottom: 100px;
}

.valores {
    margin-top: 60px;
    margin-bottom: 100px;
}

.bloqueValor {
    padding: 20px;
}

.bloqueValor:nth-child(2) {
    background-color: #575EFE;
    border-color: #575EFE;
}

.bloqueValor:nth-child(3) p {
    width: 90%;
}

.tituloCompanias {
    margin-bottom: 20px;
}